
<!-- Interfaz Web -->
<div>
  <ion-grid>
    <ion-row>
      <ion-buttons>
        <ion-button (click)="regresarInicio()">Inicio</ion-button>
        <ion-icon name="chevron-forward"></ion-icon>
        <ion-button (click)="regresarDivison()">Comsumibles</ion-button>
        <ion-icon name="chevron-forward"></ion-icon>
        <ion-button>{{dataProducto.Producto}}</ion-button>
      </ion-buttons>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-row>
          <div [style.backgroundImage]="'url('+dataProducto.PhotoUrl+')'" class="product_img"></div>
          <!-- <img style="background-color: darkgrey; height: 500px; width: 100%;"> -->
        </ion-row>
        <ion-row style="margin-top: 1%;">
          <ion-col size="3">
            <img style="height: 100px; width: 150px;background-color: darkgrey;">
          </ion-col>
          <ion-col size="3">
            <img style="height: 100px; width: 150px;background-color: darkgrey;">
          </ion-col>
          <ion-col size="4"></ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="6">
        <ion-row>
          <h1 style="font-size: 40px; height: 50%;margin-top: auto;">{{dataProducto.Producto}}</h1>
        </ion-row>
        <ion-row>
          <p style="border-bottom-style: solid; width: auto ;border-bottom-color: darkgray; border-bottom-width: 0.5px;">
            {{dataProducto.Descripcion}}
          </p>
        </ion-row>
        <ion-row>
          <p>Availability: </p><p style="color: rgb(24, 146, 24);">In Stock</p>
        </ion-row>
        <ion-row>
          <h1>
            ${{dataProducto.Costo}}
          </h1>
        </ion-row>
        <ion-row>
          <!-- Colores -->
        </ion-row>
        <ion-row size="12">
          <ion-col size="4">
            <div class="input-group" style="height: 100% !important;">

              <span class="input-group-btn" style="height: 100% !important; margin: auto;">
                <button type="button" class="btn btn-default btn-number btn-lg" data-type="minus" data-field="quant[2]">
                  <span class="glyphicon glyphicon-minus"></span>
                </button>
              </span>
                
              <input style="height: 100% !important; margin: auto;" type="text" name="quant[2]" class="form-control input-number input-md quantity-style" value="0" min="0" max="15">
          
              <span class="input-group-btn" style="height: 100% !important; margin: auto;">
                <button type="button" class="btn btn-default btn-number btn-lg" data-type="plus" data-field="quant[2]">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </span>
    
            </div>
          </ion-col>
          <ion-col size="8">
            <ion-button style="height: 100%; margin: auto;" (click)="AgregarCarrito('Hola')">Agregar</ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
