<ion-header>
  <app-header-page (close)='home($event)'></app-header-page>
</ion-header>

<ion-content>

  <div class="interfazWeb">
    <ion-grid>
      <ion-row>
        <ion-buttons>
          <ion-button (click)="home()">Inicio</ion-button>
          <ion-icon name="chevron-forward"></ion-icon>
          <ion-button>Mi Cuenta</ion-button>
        </ion-buttons>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text style="font-size: xx-large; font-weight: bold;">Mi Cuenta</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3" *ngIf="this.plataforma == 'web'">
          <div style="border: 1px solid lightgray; height: 100%; width: 100%;">
            <ion-item lines="none">
              <h6 style="font-size: large;">Navegacion</h6>
            </ion-item>
            <ion-item lines="none" *ngFor="let item of perfilSecciones">
              <h6 style="color: darkgrey;">
                {{item.nombre}}
              </h6>
            </ion-item>
          </div>
        </ion-col>
        <ion-col size-xs="12" *ngIf="this.plataforma == 'movil'">
          <ion-segment scrollable>
            <ion-segment-button size="small">
              <h6 style="font-size: 90%; text-transform: capitalize;">Dashboard</h6>
            </ion-segment-button>
            <ion-segment-button>
              <h6 style="font-size: 90%;text-transform: capitalize;">Editar Perfil</h6>
            </ion-segment-button>
            <ion-segment-button>
              <h6 style="font-size: 90%;text-transform: capitalize;">Historial Ordenes</h6>
            </ion-segment-button>
            <ion-segment-button>
              <h6 style="font-size: 90%;text-transform: capitalize;">Detalles Ordenes </h6>
            </ion-segment-button>
            <ion-segment-button>
              <h6 style="font-size: 90%;text-transform: capitalize;">Direcciones</h6>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
        <ion-col size-xs="12" size-md="9">
          <ion-row>
            <ion-col size-xs="12" size-md="6">
              <div style="border: 1px solid lightgray; height: 100%; align-items: center; display: flex;justify-content: center;">
                <div style="width: 80%; padding: 10%;">
                  <!-- <img style="margin: auto; background-color: blue;" src="../../../assets/images/TendaGO.png"> -->
                  <!-- <div style="margin: auto; background-color: blue;" [style.backgroundImage]="'url(../../../assets/images/TendaGO.png)'" class="imgtendagomovil"></div> -->
                  <ion-avatar class="ion-avatarWeb">
                    <img align="center" src="../../../assets/images/tienda.jpg"> 
                  </ion-avatar>
                  <p style="text-align: center;font-size: 100%; margin-top: 2px;"><strong>Josue Vargas</strong><br>josuevargass@hotmail.com</p>
                  <ion-button align="center" size="small" style="display: flex;" fill="outline">
                    <h6 style="text-align: center; height: 100%; font-size: medium;">Editar Perfil</h6>
                  </ion-button>
                </div>
              </div>
            </ion-col>
            <ion-col>
              <div style="border: 1px solid lightgray; height: 100%;">
                <div style="margin: 8%;">
                  <ion-row>
                    <h6 style="font-weight: bold;">Josue Vargas</h6><br>
                  </ion-row>
                  <ion-row>
                    <p>Random Federation <br> 115302, Moscow <br> ul. Varshavskaya, 15-2-178</p>
                  </ion-row>
                  <ion-row>
                    <p style="color: darkgrey; font-size: small;">Phone Number <br> <ion-text style="color: black;">0993959490</ion-text></p>
                  </ion-row>
                  <ion-row>
                    <p style="color: darkgrey; font-size: small;">Email Address <br> <ion-text style="color: black;">josuevargass@hotmail.com</ion-text></p>
                  </ion-row>
                  <ion-row *ngIf="plataforma == 'movil'" >
                    <a>Editar Direccion</a>
                  </ion-row>

                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <div style="border: 1px solid lightgray; height: 100%; width: 100%;">
              <table class="table" >
                <caption>
                  <h1 style="width: 100%;padding-left: 5%; color: black;">
                    Ordenes Recientes
                  </h1>
                </caption>
                <thead>
                  <tr>
                    <th style="padding-left: 5%;" scope="col">ORDEN</th>
                    <th scope="col">DIA</th>
                    <th scope="col">ESTADO</th>
                    <th scope="col">TOTAL</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="padding-left: 5%;" scope="row"><a>#8132</a></td>
                    <td style="padding-left: 1%;">02 April, 2019</td>
                    <td>Pending</td>
                    <td>$374.00 for 3 item(s)</td>
                  </tr>
                  <tr>
                    <td style="padding-left: 5%;" scope="row"><a>#8132</a></td>
                    <td style="padding-left: 1%;">02 April, 2019</td>
                    <td>Pending</td>
                    <td>$374.00 for 3 item(s)</td>
                  </tr>
                  <tr>
                    <td style="padding-left: 5%;" scope="row"><a>#8132</a></td>
                    <td style="padding-left: 1%;">02 April, 2019</td>
                    <td>Pending</td>
                    <td>$374.00 for 3 item(s)</td>
                  </tr>
                </tbody>
              </table>
              <!-- <ion-grid>
                <ion-row size="12">
                  <h1 style="width: 100%; margin: 1%;">
                    Ordenes Recientes
                  </h1>
                </ion-row>
                <ion-row style="background-color: aqua;">
                  <ion-col>
                    Odenar
                  </ion-col>
                  <ion-col>
                    Dia
                  </ion-col>
                  <ion-col>
                    Estado
                  </ion-col>
                  <ion-col>
                    Total
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    #8156
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    #8156
                  </ion-col>
                </ion-row>
              </ion-grid> -->
            </div>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>



  <!-- Perfil Movil -->
  <!-- <ion-grid *ngIf="plataforma == 'movil'">
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-avatar class="ion-avatarWeb">
            <img align="center" src="../../../assets/images/tienda.jpg"> 
          </ion-avatar>
        </ion-row>
        <ion-row style="text-align: center;">
          <div align="center" style="width:100%; margin-top: 2%;">
            <ion-button (click)="editarPerfil()" color="secondary">
              <ion-label>Editar Perfil</ion-label>
            </ion-button>
          </div>
        </ion-row>
        <ion-row>
          <div class="profile-work">
            <p>Datos</p>
            <a href="">Josue Vargas</a><br/>
            <a href="">josuevargass@hotmail.com</a><br/>
            <a href="">0993959490</a><br/>
          </div>
        </ion-row>
      </ion-col>

    </ion-row>

    <ion-row style="margin-top: -30px;">
      <ion-segment style="margin-bottom: 20px;" mode="md" [(ngModel)]="publisherEstado" (ionChange)="segmentChanged2($event)" >
        <ion-segment-button expand="block" value="PEDIDOS" style="width: 100% !important">
          <ion-icon name="archive-outline"></ion-icon>
          <ion-label>PEDIDOS</ion-label>
        </ion-segment-button>
        <ion-segment-button value="FINALIZADA" style="width: 100% !important" expand="block" >
          <ion-icon name="checkmark-done-outline"></ion-icon>
          <ion-label>FINALIZADA</ion-label>
        </ion-segment-button>
      </ion-segment>
  

      <div *ngIf="publisherEstado === 'PEDIDOS'" style="width: 100%;">
        <ion-row *ngFor="let item of [1,1]" >
          <ion-col size="3">
            <div [style.backgroundImage]="'url(../../../assets/images/TendaGO.png)'" class="imgtendagoweb"></div>
          </ion-col>
          <ion-col size="8">
            <ion-grid style="margin: auto; vertical-align: middle; height: 90%;">
              <ion-row>
                <ion-label style="font-size: small; font-weight: bold;">
                  Lee Uniforms - Polo de manga corta..
                </ion-label>
              </ion-row>
              <ion-row>
                <p style="font-size: small;">
                  Pedido el 5 nov. 2019
                </p>
              </ion-row>
            </ion-grid>
          </ion-col>
          <ion-col size="1">
            <ion-row style="height: 100%;">
              <div style="text-align: center; vertical-align: middle; margin: auto;">
                <ion-buttons>
                  <ion-button>
                    <ion-icon slot="start" name="chevron-forward"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </div>
            </ion-row>
          </ion-col>
        </ion-row>
      </div>
  
      <div *ngIf="publisherEstado === 'FINALIZADA'" >
        
      </div>
    </ion-row>

  </ion-grid> -->


  <!-- Perfil Web -->
  <!-- <div *ngIf="plataforma == 'web'" style="margin-top: 2%;">
    <ion-grid>
      <ion-row >
        <ion-col size="2">
          <ion-row>
            <ion-avatar class="ion-avatarWeb">
              <img align="center" src="../../../assets/images/tienda.jpg"> 
            </ion-avatar>
          </ion-row>
          <ion-row style="text-align: center;">
            <div align="center" style="width:100%; margin-top: 2%;">
              <ion-button (click)="editarPerfil()" color="secondary">
                <ion-label>Editar Perfil</ion-label>
              </ion-button>
            </div>
          </ion-row>
          <ion-row>
            <div class="profile-work">
              <p>Datos</p>
              <a href="">Josue Vargas</a><br/>
              <a href="">josuevargass@hotmail.com</a><br/>
              <a href="">0993959490</a><br/>
            </div>
          </ion-row>
        </ion-col>

        <ion-col size="10">
          <ion-card>
            <ion-card-content>
              <ion-segment style="width: 100%;" [(ngModel)]="publisherEstado" (ionChange)="segmentChanged2($event)">
                <ion-segment-button value="PEDIDOS" style="width: 100% !important;">
                  <ion-icon name="archive-outline"></ion-icon>
                  <ion-label>PEDIDOS</ion-label>
                </ion-segment-button>
                <ion-segment-button value="FINALIZADA" style="width: 100% !important">
                  <ion-icon name="checkmark-done-outline"></ion-icon>
                  <ion-label>FINALIZADA</ion-label>
                </ion-segment-button>
              </ion-segment>

              <div *ngIf="publisherEstado === 'PEDIDOS'" >
                <div class="card" style="width: 100%; margin-top: 2%;" *ngFor="let item of [1,1]" >
                  <div class="card-header">
                    <ion-row>
                      <ion-col size="2">
                        <ion-label>
                          PEDIDO REALIZADO <br> 8 de diciembre de <br> 2020
                        </ion-label>
                      </ion-col>
                      <ion-col size="2">
                        <ion-label>
                          TOTAL <br> $0.00
                        </ion-label>
                      </ion-col>
                      <ion-col size="5">
                        <ion-label>
                          ENVIAR A
                        </ion-label>
                      </ion-col>
                      <ion-col size="3">
                        <ion-label>
                          PEDIDO N.º 114-5148504-1689820 <br>
                          Detalles del pedido | Factura
                        </ion-label>
                      </ion-col>
                    </ion-row>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let item of [1,1]" >
                      <ion-row>
                        <h4>Entrega prevista: 6 jul</h4>
                      </ion-row>
                      <ion-row>
                        <ion-col size="1">
                          <div [style.backgroundImage]="'url(../../../assets/images/TendaGO.png)'" class="imgtendagoweb"></div>
                        </ion-col>
                        <ion-col size="8">
                          <ion-row>
                            <ion-label class="titulopedidos">
                              SSK 11 in 1 USB C HUB, Triple Displays Laptop Docking Station, Type C Multiport Adapter with 2(Dual) 
                              HDMI 4K,VGA,PD3.0,SD/TF Card Reader,RJ45 etc. for
                            </ion-label>
                          </ion-row>
                          <ion-row>
                            <ion-label class="preciopedido">
                              $0.00
                            </ion-label>
                            <ion-button shape="round" color="primary" size="small">
                              <ion-icon name="reload" color="light"></ion-icon>
                              <ion-label style="margin-left: 10px;">Comrpar nuevamente</ion-label>
                            </ion-button>
                          </ion-row>
                        </ion-col>
                        <ion-col size="3">
                            <ion-button style="width: 100%; margin-bottom: 15px;" color="primary" shape="round">
                              <ion-icon name="cart"></ion-icon>
                              <ion-label>Localiza tu pedido</ion-label>
                            </ion-button>
                            <ion-row size="12">
                              <ion-col size="6">
                                <ion-button style="width: 100%;" color="light" shape="round">
                                  <ion-icon name="close"></ion-icon>
                                  <ion-label>Cancelar</ion-label>
                                </ion-button>
                              </ion-col>
                              <ion-col size="6">
                                <ion-button style="width: 100%;" color="light" shape="round">
                                  <ion-icon name="document"></ion-icon>
                                  <ion-label>Comentar</ion-label>
                                </ion-button>
                              </ion-col>
                            </ion-row>
                        </ion-col>
                      </ion-row>
                    </li>
                  </ul>
                </div>
              </div>
              <div *ngIf="publisherEstado === 'FINALIZADA'" >
                <div class="card" style="width: 100%; margin-top: 2%;" *ngFor="let item of [1,1]" >
                  <div class="card-header">
                    <ion-row>
                      <ion-col size="2">
                        <ion-label>
                          PEDIDO REALIZADO <br> 8 de diciembre de <br> 2020
                        </ion-label>
                      </ion-col>
                      <ion-col size="2">
                        <ion-label>
                          TOTAL <br> $0.00
                        </ion-label>
                      </ion-col>
                      <ion-col size="5">
                        <ion-label>
                          ENVIAR A
                        </ion-label>
                      </ion-col>
                      <ion-col size="3">
                        <ion-label>
                          PEDIDO N.º 114-5148504-1689820
                        </ion-label>
                      </ion-col>
                    </ion-row>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let item of [1,1]" >
                      <ion-row>
                        <ion-col size="1">
                          <div [style.backgroundImage]="'url(../../../assets/images/TendaGO.png)'" class="imgtendagoweb"></div>
                        </ion-col>
                        <ion-col size="10">
                          <ion-row>
                            <ion-label class="titulopedidos">
                              SSK 11 in 1 USB C HUB, Triple Displays Laptop Docking Station, Type C Multiport Adapter with 2(Dual) 
                              HDMI 4K,VGA,PD3.0,SD/TF Card Reader,RJ45 etc. for
                            </ion-label>
                          </ion-row>
                          <ion-row>
                            <ion-label class="preciopedido">
                              $0.00
                            </ion-label>
                            <ion-button shape="round" color="primary" size="small">
                              <ion-icon name="reload" color="light"></ion-icon>
                              <ion-label style="margin-left: 10px;">Comrpar nuevamente</ion-label>
                            </ion-button>
                          </ion-row>
                        </ion-col>
                      </ion-row>
                    </li>
                  </ul>
                </div>
              </div>
          
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div> -->
  

</ion-content>
