

<!-- Ion Toolbar Movil -->

<ion-toolbar *ngIf="plataforma == 'movil'" class="toolBar">
  <ion-buttons slot="start">
    <ion-menu-button color="light"></ion-menu-button>
  </ion-buttons>
  <ion-title color="light">
    <div [style.backgroundImage]="'url(../../../../assets/images/TendaGO.png)'" class="imgtendagomovil"></div>

  </ion-title>

  <ion-buttons slot="end">
    <ion-button size="large" (click)="carrito()">
      <ion-icon color="light" name="cart"></ion-icon>
    </ion-button>
    <ion-button size="large" (click)="perfil()">
      <ion-icon color="light"  name="person" ></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-toolbar *ngIf="plataforma == 'movil'" class="toolBar">
  <ion-searchbar  debounce="700" color="light" placeholder="Buscar Tenda Go!"
  [value]="textoBuscar"  #producto (keyup.enter)="search(producto.value)" 
  (ionChange)="buscar($event)"></ion-searchbar>
</ion-toolbar>

<!-- Ion Toolbar Web -->
<ion-toolbar *ngIf="plataforma == 'web'"  style="width: 100%; margin: auto;--background: rgb(19,32,48); --background: linear-gradient(90deg, rgba(19,32,48,1) 15%, rgba(0,0,0,1) 100%);">
  
  <div style="width: 63%; margin: auto;">
    <ion-row>
      <ion-col size="3">
        <ion-title >
          <div (click)="home2()" [style.backgroundImage]="'url(../../../../assets/images/TendaGO.png)'" class="imgtendagoweb"></div>
        </ion-title>
      </ion-col>
      <ion-col>
        <div style="height: 100%;margin: auto; position: relative; vertical-align: middle;">
          <ion-searchbar style="width: 100%; height: 100%;" slot="end" debounce="700" color="light" placeholder="Buscar Tenda Go!"
          [value]="textoBuscar"  #producto (keyup.enter)="search(producto.value)" 
          (ionChange)="buscar($event)"></ion-searchbar>
        </div>

      </ion-col>
    </ion-row>

  </div> 

</ion-toolbar>

<ion-toolbar *ngIf="plataforma == 'web'" class="toolBar">
  <div class="divButtons">
    <div class="row">
      <div class="col-sm-3">

      </div>

      <div class="col-sm-7">
        <ion-buttons mat-button [matMenuTriggerFor]="menu" >
          <ion-button fill="clear">Inicio</ion-button>
          <ion-icon name="chevron-down"></ion-icon>
        </ion-buttons>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>          
      </div>


      <div class="col-sm-2" style="padding-left: 4% ;">          
        <ion-buttons slot="end">
          <ion-button size="large">
            <ion-icon color="light"  name="heart"></ion-icon>
          </ion-button>
          <ion-button size="large" (click)="carrito()">
            <ion-icon color="light" name="cart"></ion-icon>
          </ion-button>
          <ion-button size="large" (click)="perfil()">
            <ion-icon color="light"  name="person" ></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
    </div>
  </div>
</ion-toolbar>
