<ion-header>
  <app-header-page (close)='regresarHome($event)'></app-header-page>
</ion-header>

<ion-content>

  <ion-segment (ionChange)="segmentChanged($event)" mode="md" scrollable class="segmento">
    <ion-segment-button class="segmentobtn" *ngFor="let item of segmentos2" value="{{item.Division}}">
      <ion-label text-capitalize>{{item.Division}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Home Web -->
  <div *ngIf="plataforma == 'web'" class="interfazWeb">
    <div *ngIf="inicio && !lista && !productos && divisionI == '' && detalleProducto == false" >

      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let item of [1,1,1]" >
          <ion-card style="height: 440px; width: 1110px; background-color: darkgray;">
            <ion-card-header>
              <ion-card-title></ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-card-title></ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>

      <ion-grid >
        <ion-row >
          <ion-row style="width: 100%;">
            <h5 style="width: 100%; font-size: large;">Oferta del dia</h5>
          </ion-row>
          <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="4" size-xl="4" *ngFor="let item of [1,1,1]">
            <ion-row>
              <img style="width: 100%;" src="../../../assets/images/TendaGO.png">
              <!-- <h6 style="width: 100%;"></h6> -->
              <ion-label text-capitalize>Guitarra electrica</ion-label>
              <p>US$124.99</p>
            </ion-row>
            <ion-row>
              <h6 class="boton" type="button">Ver mas ofertas</h6>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </div>
  
      <!-- Lista de productos a buscar estilo 2 -->
      <div *ngIf="!inicio && !productos && divisionI == '' && detalleProducto == false">
  
        <div *ngIf="buscando"  >
          <ion-grid>
            <ion-row>
              <ion-col class="ion-text-center">
                <ion-spinner name="crescent"></ion-spinner>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
  
        <ion-grid>
          <ion-row>
            <ion-col size="12" *ngFor="let item of productosLista" >
              <ion-text [routerLink]="['/producto', item.Id]" color="primary">
                <h5>{{item.Producto}}</h5>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
  
      <!-- Resultados lista de productos a buscar -->
      <div *ngIf="productos && divisionI == '' && detalleProducto == false">
        <ion-row style="width: 100%;">
          <h6 style="font-size: large; width: 100%; height: 100%;">Resultados</h6>
        </ion-row>
        <ion-grid fixed style="width: 100%;">
          <ion-row>
            <ion-col *ngFor="let item of productosLista | paginate: { itemsPerPage: 15, currentPage: pageActual }" 
              style="width:100%;" size-xs="12" size-sm="6" size-md="6" size-lg="3" size-xl="2">
                <ion-col [routerLink]="['/producto', item.Id]">
                  <div [style.backgroundImage]="'url('+item.PhotoUrl+')'" class="product_img"></div>
                </ion-col>
                <ion-col >
                  <p class="header_title">{{item.Producto}}</p>
                  <p class="footer_title">${{item.Costo}}</p>
                </ion-col>
                <ion-card>
                  
                </ion-card>
            </ion-col>
          </ion-row>
          <ion-row style="width: 100%;">
            <pagination-controls style="background-color: rgb(228, 228, 228); width:100%;" maxSize="9" responsive="true" (pageChange)="pageActual = $event"></pagination-controls>
          </ion-row>
        </ion-grid>
      </div>

      <!-- Componente divisiones -->
      <div *ngIf="divisionI !== '' && detalleProducto == false" >
        <app-divisiones [divisionC]="divisionI" (regresarInicio)='regresarInicioP($event)' (open)='verDetalles($event)'></app-divisiones>
      </div>

      <!-- Detalle del producto -->
      <div *ngIf="detalleProducto == true" >
        <app-producto [detalleProductoC]="detalleProductoP"  (close)='mensajeHijo2($event)' (regresarInicioVar)='regresarInicio()' (regresarDivisionVar)='regresarDivision()'></app-producto>
      </div>
      
  </div>












  


  <!-- Home Movil -->
  <div *ngIf="plataforma == 'movil'">
    <div *ngIf="inicio && !lista && !productos && divisionI == ''"  style="width: 100%;">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let item of [1,1,1]" >
        <ion-card style="height: 395px; width: 510px; background-color: darkgray;">
          <ion-card-header>
            <ion-card-title></ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-card-title></ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>

    <ion-grid>
      <ion-row>
        <ion-list style="width: 100%;">
          <ion-item  *ngFor="let item of [1,1,1]"  style="width: 100%;border: 1px solid lightgray;">
              <div style="width: 100%; height: 100%;">
                <ion-row size="12" style="height: 100%; width: 100%;">
                  <ion-col size="4">
                    <img style="background-color: darkgrey; width: 80px; height: 60px;">
                  </ion-col>
                  <ion-col size="8" style="height: 100%; width: 100%;">
                    <ion-label style="font-weight: bold;">
                      Hot Offers
                    </ion-label>
                    <p>Discounts</p>
                  </ion-col>
                </ion-row>
              </div>
          </ion-item>
        </ion-list>
      </ion-row>
    </ion-grid>
    </div>
  
      <div *ngIf="!inicio && !productos && divisionI == ''">
  
        <div *ngIf="buscando"  >
          <ion-grid>
            <ion-row>
              <ion-col class="ion-text-center">
                <ion-spinner name="crescent"></ion-spinner>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
  
        <ion-grid>
          <ion-row>
            <ion-col size="12" *ngFor="let item of productosLista" >
              <ion-text [routerLink]="['/producto', item.Id]" color="primary">
                <h5>{{item.Producto}}</h5>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
  
      <!-- Resultados lista de productos a buscar -->
      <div *ngIf="productos && divisionI == ''">
        <ion-row style="width: 100%;">
          <h6 style="font-size: large; width: 100%; height: 100%;">Resultados</h6>
        </ion-row>
        <ion-grid fixed style="width: 100%;">
          <ion-row>
            <ion-col *ngFor="let item of productosLista | paginate: { itemsPerPage: 15, currentPage: pageActual }" 
              style="width:100%;" size-xs="12" size-sm="6" size-md="6" size-lg="3" size-xl="2">
                <ion-col [routerLink]="['/producto', item.Id]">
                  <div [style.backgroundImage]="'url('+item.PhotoUrl+')'" class="product_img"></div>
                </ion-col>
                <ion-col >
                  <p class="header_title">{{item.Producto}}</p>
                  <p class="footer_title">${{item.Costo}}</p>
                </ion-col>
                <ion-card>
                  
                </ion-card>
            </ion-col>
          </ion-row>
          <ion-row style="width: 100%;">
            <pagination-controls style="background-color: rgb(228, 228, 228); width:100%;" maxSize="9" responsive="true" (pageChange)="pageActual = $event"></pagination-controls>
          </ion-row>
        </ion-grid>
      </div>
  
      <!-- Componente divisiones -->
      <div *ngIf="divisionI !== '' && detalleProducto == false" >
        <app-divisiones [divisionC]="divisionI" (propagar)='mensajeHijo($event)'></app-divisiones>
      </div>

      <!-- Detalle del producto -->
      <div *ngIf="detalleProducto == true" >
        <app-producto [detalleProductoC]="detalleProductoP"></app-producto>
      </div>
  </div>
  
</ion-content>
