


  <div class="modal-header" style="background: rgb(19,32,48);background: linear-gradient(90deg, rgba(19,32,48,1) 15%, rgba(0,0,0,1) 100%);;">
    <h4 style="color: white;" class="modal-title" id="modal-basic-title">Editar Perfil</h4>
    <button type="button" class="close" aria-label="Close" (click)="cerrarModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ion-grid>
      <ion-row>
        <h5>Datos</h5>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Nombre</ion-label>
        <ion-input></ion-input>
      </ion-col>
      <ion-col>
        <ion-label>Correo</ion-label>
        <ion-input></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <h5>Contrasena</h5>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Nueva contrasena</ion-label>
        <ion-input></ion-input>
      </ion-col>
    </ion-row>
    </ion-grid>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="save('Save click')">Save</button>
  </div>