.imgProducto{
    // background-color: aqua !important;
    width: 100%;
    // height: 20px;
    align-items: center;
}

.banner_slides{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;

}

.div_img_back{
    height: 40vh;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.details{
 
    .prod_main{
        box-shadow: 9px 3px 16px 9px rgba(126, 126, 171, 0.2);
        padding: 15px;
        margin-bottom: 2%;
        margin-top: 2%;

        .title{
            font-weight: bolder;
            font-size: 20px;
            padding: 0px;
            color: black;
            margin: 0px !important;
            width: 100%;
            // background-color: #3b6098;
        }
        .prod_sell{
            font-size: 15px; 
            margin: 0px;   
            color: darkolivegreen;
            font-weight: bold;
        }
        .dummy{
            font-size: 12px;
            font-weight: bolder;
            color: gray;
            // padding: 0px 10px;
            margin-bottom: 10px;   
        }

    }

}