<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button size="large" defaultHref="/tabs/inicio"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>{{producto.Producto}}</ion-title> -->
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon size="large" class="header_icons" name="basket"></ion-icon> 
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Interfaz Movil -->
  <div *ngIf="plataforma == 'movil'" >
    <ion-slides pager="true">
      <ion-slide style="height: 100% !important; width: 100%;padding: 15px;">
        <div class="div_img_back" [style.backgroundImage]="'url('+ producto.PhotoUrl +')'">
        </div>
      </ion-slide>
    </ion-slides>
  
    <div class="details">
      <div class="prod_main">
        <ion-row>
          <ion-label class="title">{{producto.Producto}}</ion-label> 
        </ion-row>
        <span class="prod_sell">{{producto.Costo}}</span>
      </div>
  
      <div class="prod_main">
        <ion-row>
          <ion-label class="title">Descripción del producto</ion-label>
        </ion-row>
  
        <ion-label class="dummy">{{producto.Descripcion}}</ion-label>
      </div>
    </div>
  </div>


  <!-- Interfaz Web -->
  <div *ngIf="plataforma == 'web'" >
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-slides pager="true">
            <ion-slide style="height: 100% !important; width: 100%;padding: 15px;">
              <div class="div_img_back" [style.backgroundImage]="'url('+ producto.PhotoUrl +')'">
              </div>
            </ion-slide>
          </ion-slides>
        </ion-col>
        <ion-col size="6">
          <div class="details">
            <div class="prod_main">
              <ion-row>
                <ion-label class="title">{{producto.Producto}}</ion-label> 
              </ion-row>
              <span class="prod_sell">{{producto.Costo}}</span>
            </div>
        
            <div class="prod_main">
              <ion-row>
                <ion-label class="title">Descripción del producto</ion-label>
              </ion-row>

          
              <ion-label class="dummy">{{producto.Descripcion}}</ion-label>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>

<ion-footer class="ion-no-border" style="width: 100%;">
  <ion-grid fixed style="width: 100%;">
    <ion-row style="width: 100%;">
      <!-- <ion-col size="6" (click)="wishlist()">
        <ion-button fill="clear">
          <ion-icon name="bookmark"></ion-icon> 
          <h6 style="font-size: 80%;">Guardar</h6>
        </ion-button>
      </ion-col> -->
      <ion-col size="12" style="width: 100%;">
        <ion-button (click)="AgregarCarrito('Hola')" expand="block">
          <ion-icon size="large" slot="start" name="cart"></ion-icon>
          <h6 style="font-size: 100%;">Añadir al carrito</h6>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>