svg{
    height: 100px;
}
.div_content{
    .div_logo{
        width: 100%;
        height: 25vh;
        position: relative;

        .img_logo{
            width: 75%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }
    }
    // width: 450px;
    height: 65vh;
    margin: auto;

    .div_segment{
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;

        .lbl_segment{
            margin-bottom: 5px;
            font-family: Exo2-Bold;
        }
        ion-segment-button{
            border-style : unset;
            font-size: 14px;
            text-transform: capitalize;
        }
        ion-segment{
            --background-hover : none !important;
            --color : var(--ion-color-text);
            --color-checked : var(--ion-color-primary);
            --color-checked-disabled : var(--color-checked);
            border-bottom: 1px solid lightgray;
            --background-activated: transparent !important; 
            --background-checked: transparent !important;
            margin-top: 0px;
        }
        .segment-button-indicator{
            background-color  : var(--ion-color-primary);
        }
    }

    .div_primary_text{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 3%;

        .div_inner{
            margin-top: 1%;
            height: 40px;
            width: 100%;
            border-radius: 5px;
            background-color: #eeeeef;
            position: relative;

            .img_user{
                width: 15px;
                position: absolute;
                left: 5%;
                top: 50%;
                transform: translateY(-50%);
            }
            .in{
                position: absolute;
                width: 100%;
                // left: 15%;
                top: 50%;
                transform: translateY(-50%);
                font-size: 100%;
            }
        }
        .lbl_forgot{
            font-size: 14px;
            display: block;
            text-align: center;
            // margin-top: 20px;
            color: var(--ion-color-primary);
        }
        .div_btn{
            width: 100%;
            margin-top: 20px;
            position: relative;

            .btn_login{
                --color:rgb(255, 255, 255);
                background-color: rgb(255, 153, 0);
                --background: var(--ion-color-custom);
                --border-radius: 5px;
            }
        }
        h2 {
            overflow: hidden;
            text-align: center;
        }

       
        .div_or{
            width: 100%;
            margin-top: 20px;

            .lbl_or{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                font-size: 15px;
            }
            .img_line{
                width: 100%;
                height: 1px;
                margin-top: 7px;
                background-color:var(--ion-color-dark) !important;
            }
        }
        .div_social{
            margin-top: 15px;
            .img_fb{
                width: 50px;
                
            }
            .img_twit{
                width: 50px;
            }
            .img_gplus{
                width: 50px;
            }
        }

        .lbl_create{
            text-align: center;
            display: block;
            font-weight: bold;
            color: var(--ion-color-darl);;
            font-size: 16px;
            margin-top: 10px;
        }
    }
}


// WEB


// :root {
//     --input-padding-x: 1.5rem;
//     --input-padding-y: .75rem;
//   }
  
//   body {
//     background: #007bff;
//     background: linear-gradient(to right, #0062E6, #33AEFF);
//   }
  
//   .card-signin {
//     border: 0;
//     border-radius: 1rem;
//     box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
//   }
  
//   .card-signin .card-title {
//     margin-bottom: 2rem;
//     font-weight: 300;
//     font-size: 1.5rem;
//   }
  
//   .card-signin .card-body {
//     padding: 2rem;
//   }
  
//   .form-signin {
//     width: 100%;
//   }
  
//   .form-signin .btn {
//     font-size: 80%;
//     border-radius: 5rem;
//     letter-spacing: .1rem;
//     font-weight: bold;
//     padding: 1rem;
//     transition: all 0.2s;
//   }
  
//   .form-label-group {
//     position: relative;
//     margin-bottom: 1rem;
//   }
  
//   .form-label-group input {
//     height: auto;
//     border-radius: 2rem;
//   }
  
//   .form-label-group>input,
//   .form-label-group>label {
//     padding: var(--input-padding-y) var(--input-padding-x);
//   }
  
//   .form-label-group>label {
//     position: absolute;
//     top: 0;
//     left: 0;
//     display: block;
//     width: 100%;
//     margin-bottom: 0;
//     /* Override default `<label>` margin */
//     line-height: 1.5;
//     color: #495057;
//     border: 1px solid transparent;
//     border-radius: .25rem;
//     transition: all .1s ease-in-out;
//   }
  
//   .form-label-group input::-webkit-input-placeholder {
//     color: transparent;
//   }
  
//   .form-label-group input:-ms-input-placeholder {
//     color: transparent;
//   }
  
//   .form-label-group input::-ms-input-placeholder {
//     color: transparent;
//   }
  
//   .form-label-group input::-moz-placeholder {
//     color: transparent;
//   }
  
//   .form-label-group input::placeholder {
//     color: transparent;
//   }
  
//   .form-label-group input:not(:placeholder-shown) {
//     padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
//     padding-bottom: calc(var(--input-padding-y) / 3);
//   }
  
//   .form-label-group input:not(:placeholder-shown)~label {
//     padding-top: calc(var(--input-padding-y) / 3);
//     padding-bottom: calc(var(--input-padding-y) / 3);
//     font-size: 12px;
//     color: #777;
//   }

//   /* Fallback for Edge
//   -------------------------------------------------- */
  
//   @supports (-ms-ime-align: auto) {
//     .form-label-group>label {
//       display: none;
//     }
//     .form-label-group input::-ms-input-placeholder {
//       color: #777;
//     }
//   }
  
//   /* Fallback for IE
//   -------------------------------------------------- */
  
//   @media all and (-ms-high-contrast: none),
//   (-ms-high-contrast: active) {
//     .form-label-group>label {
//       display: none;
//     }
//     .form-label-group input:-ms-input-placeholder {
//       color: #777;
//     }
//   }
  