<ion-content>
  <!-- Interfaz movil -->
  <div *ngIf="platform == 'movil'" >  
    <div class="div_content" style="width: 100% !important;">
        <div class="div_logo">
          <img src="../../../assets/images/TendaGO.png" class="img_logo" />
        </div>
      <div class="div_primary_text">
        <div class="div_inner">
          <!-- <img src="assets/images/user_icon.png" class="img_user" /> -->
          <ion-input type="text" placeholder="Correo" class="in"></ion-input>
        </div>
  
        <div class="div_inner">
          <!-- <img src="assets/images/lock.png" class="img_user" /> -->
          <ion-input type="password" placeholder="Contrasena" class="in"></ion-input>
        </div>
  
        <div class="div_social">
          <ion-row>
            <!-- <ion-col size="6">
              <ion-label class="lbl_forgot" style="margin-top: 7%;" (click)="logintienda()">Tienda</ion-label>
            </ion-col> -->
            <ion-col size="12">
              <ion-label class="lbl_forgot">Olvidaste contraseña?</ion-label>
            </ion-col>
          </ion-row>
        </div>
  
        <div class="div_btn">
          <ion-button color="primary" class="btn_login" expand="block" mode="ios" (click)="signin()">Ingresar</ion-button>
        </div>
  
        <div class="div_or">
          <ion-row>
            <ion-col size="2"></ion-col>
            <ion-col size="3">
              <div class="img_line"></div>
            </ion-col>
            <ion-col size="2">
              <ion-label class="lbl_or">O</ion-label>
            </ion-col>
            <ion-col size="3">
              <div class="img_line"></div>
            </ion-col>
            <ion-col size="2"></ion-col>
          </ion-row>
        </div>
  
        <ion-label class="lbl_create">Crea una cuenta</ion-label>
        <br>
        <div align="center">
          <ion-label color="medium" >Ingresar sin cuenta</ion-label>
        </div>
  
      </div>
    </div>
  </div>

  <!-- Interfaz Web -->
  <div *ngIf="platform =='web'" >
    <ion-grid>
      <ion-row style="margin-top: 5%;">
        <!-- <ion-col size="3">

        </ion-col> -->
        <ion-col style=" width: 100%; height: 100%;">
    
          <div class="div_content" style="width: 450px; !important">
            <div class="div_logo">
              <img src="../../../assets/images/TendaGO.png" class="img_logo" />
            </div>
          <div class="div_primary_text">
            <div class="div_inner">
              <!-- <img src="assets/images/user_icon.png" class="img_user" /> -->
              <ion-input type="text" placeholder="Correo" class="in"></ion-input>
            </div>
      
            <div class="div_inner">
              <!-- <img src="assets/images/lock.png" class="img_user" /> -->
              <ion-input type="password" placeholder="Contrasena" class="in"></ion-input>
            </div>
      
            <div class="div_social">
              <ion-row>
                <!-- <ion-col size="6">
                  <ion-label class="lbl_forgot" style="margin-top: 7%;" (click)="logintienda()">Tienda</ion-label>
                </ion-col> -->
                <ion-col size="12">
                  <ion-label class="lbl_forgot">Olvidaste contraseña?</ion-label>
                </ion-col>
              </ion-row>
            </div>
      
            <div class="div_btn">
              <ion-button color="primary" class="btn_login" expand="block" mode="ios" (click)="signin()">Ingresar</ion-button>
            </div>
      
            <div class="div_or">
              <ion-row>
                <ion-col size="2"></ion-col>
                <ion-col size="3">
                  <div class="img_line"></div>
                </ion-col>
                <ion-col size="2">
                  <ion-label class="lbl_or">O</ion-label>
                </ion-col>
                <ion-col size="3">
                  <div class="img_line"></div>
                </ion-col>
                <ion-col size="2"></ion-col>
              </ion-row>
            </div>
      
            <ion-label class="lbl_create">Crea una cuenta</ion-label>
            <br>
            <div align="center">
              <ion-label color="medium" >Ingresar sin cuenta</ion-label>
            </div>
      
          </div>
        </div>
        </ion-col>
        <!-- <ion-col size="3">

        </ion-col> -->
      </ion-row>
    </ion-grid>

  </div>

</ion-content>
