<ion-app>
  <!-- Side Menu Movil -->
  <ion-split-pane *ngIf="plataforma == 'movil'"  when="(min-width: 10000px)" content-id="main">
    <ion-menu side="start" content-id="main" class="my-custom-menu-movil">
      <ion-header>
        <ion-toolbar class="toolBar">
          <ion-title color="light">Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item lines=none [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-row>
        <h6  style="margin-left: 4%;">v0.0.1</h6>
      </ion-row>
      <ion-footer>
        <ion-list>
          <ion-item lines="none" (click)="Onlogout()">
              <ion-icon name="log-out" mode="ios"></ion-icon>
              <ion-label style="margin-left: 3%;">Cerrar sesión</ion-label>
          </ion-item>
        </ion-list>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>

  <!-- Side Menu Web -->
  <ion-split-pane *ngIf="plataforma == 'web'" when="(min-width: 10000px)" content-id="main">
    <ion-menu side="start" content-id="main" class="my-custom-menu-web" type="push">
      <ion-header>
        <ion-toolbar class="degradeazulnegro">
          <ion-title color="light">Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content style="--background: rgb(0,0,0);--background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(19,32,48,1) 82%);">
        <ion-list style="background: rgb(0,0,0);background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(19,32,48,1) 82%);">
            <ion-item *ngFor="let p of appPages" class="itemSideMenu" [routerDirection]="'root'" [routerLink]="[p.url]">
              <!-- <ion-icon slot="start" [name]="p.icon"></ion-icon> -->
              <div class="item-text">{{p.title}}</div>
            </ion-item>
        </ion-list>
      </ion-content>
      <ion-row style="background: rgb(0,0,0);background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(19,32,48,1) 82%);">
        <h6 style="margin-left: 4%; color: white;">v0.0.1</h6>
      </ion-row>
      <ion-footer style="--background: rgb(0,0,0);--background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(19,32,48,1) 82%);">
        <ion-list style="background: rgb(0,0,0);background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(19,32,48,1) 82%);" class="degradeazulnegro">
          <ion-item style="--background: rgb(0,0,0);--background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(19,32,48,1) 82%);" lines="none" (click)="Onlogout()">
              <ion-icon color="light" name="log-out" mode="ios"></ion-icon>
              <ion-label style="margin-left: 3%;">Cerrar sesión</ion-label>
          </ion-item>
        </ion-list>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>

  <!-- <ion-router-outlet></ion-router-outlet> -->
</ion-app>
