<ion-header>
 <app-header-page (close)='home($event)'></app-header-page>
</ion-header>

<ion-content>

<!-- Interfaz Web -->
<div class="interfazWeb">
  <ion-grid>
    <ion-row>
      <ion-buttons>
        <ion-button (click)="inicio()">Inicio</ion-button>
        <ion-icon name="chevron-forward"></ion-icon>
        <ion-button>Carrito</ion-button>
      </ion-buttons>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text style="font-size: xx-large; font-weight: bold;">Carrito</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-card style="width: 100%;">
        <!-- Detalle de compra WEB -->
        <ion-card-header *ngIf="plataforma == 'web'" style="background-color: rgb(233, 233, 233);">
          <ion-row style="height: 100%;">
            <ion-col size="1">
              <ion-label style="color: black; font-weight: bold;">Imagen</ion-label>
            </ion-col>
            <ion-col size="5">
              <ion-label style="color: black; font-weight: bold;">Producto</ion-label>
            </ion-col>
            <ion-col size="2">
              <ion-label style="color: black; font-weight: bold;">Precio</ion-label>
            </ion-col>
            <ion-col size="2">
              <ion-label style="color: black; font-weight: bold;">Cantidad</ion-label>
            </ion-col>
            <ion-col size="1">
              <ion-label style="color: black; font-weight: bold;">Total</ion-label>
            </ion-col>
            <ion-col size="1">
            </ion-col>
          </ion-row>
        </ion-card-header>
        <!-- Detalle de compra MOVIL -->
        <ion-card-header *ngIf="plataforma == 'movil'">
          <ion-row style="height: 100%;">
            <div [style.backgroundImage]="'url(../../../../assets/images/TendaGO.png)'" class="imgresponsive"></div>
          </ion-row>
          <ion-row>
            <h6 style="color: black; margin: auto;height: 100%; text-align: center;">Electric Planer Brandix KL370090G 300 Watts</h6>
          </ion-row>
        </ion-card-header>
        <ion-card-content>
          <ion-row *ngIf="plataforma == 'movil'" style="height: 100%; margin-top: 1%;">
            <ion-col size="4">
              
            </ion-col>
            <ion-col size="8">
              <ion-row>
                <ion-col>
                  <h6 style="text-align: start; font-weight: bold; width: 100%; color: black;">Precio:</h6>
                </ion-col>
                <ion-col>
                  <h6 style="text-align: end; width: 100%;color: black;">$749.00</h6>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <h6 style="text-align: start; font-weight: bold; width: 100%;  color: black;">Cantidad:</h6>
                </ion-col>
                <ion-col>
                  <h6 style="text-align: end; width: 100%;color: black;">5</h6>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <h6 style="text-align: start; font-weight: bold; width: 100%;  color: black;">Total:</h6>
                </ion-col>
                <ion-col>
                  <h6 style="text-align: end; width: 100%;color: black;">$749.00</h6>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          
          <ion-row *ngIf="plataforma == 'web'" style="height: 100%; margin-top: 1%;">
            <ion-col size="1">
              <!-- <div [style.backgroundImage]="'url(../../../../assets/images/TendaGO.png)'" class="imgproduct"></div> -->
              <img style="background-color: darkgrey; width: 50px; height: 50px;">
            </ion-col>
            <ion-col size="5">
              <h6>Electric Planer Brandix KL370090G 300 Watts</h6>
            </ion-col>
            <ion-col size="2">
              <h6>$749.00</h6>
            </ion-col>
            <ion-col size="2">
              <!-- <div class="input-group" style="background-color: aqua; width: 80% !important; height: 20px !important;">
                <span class="input-group-btn" style="height: 100%; background-color: blue; ">
                  <button style="height: 100% !important;" type="button" class="btn btn-default btn-md" data-type="minus" data-field="quant[1]">
                    <span style="height: 100% !important;" class="glyphicon glyphicon-minus"></span>
                  </button>
                </span>
                <input style="background-color: brown;" type="text" name="quant[1]" class="form-control input-number" value="1" min="1" max="10">
                <span style="height: 100%; width: 100%;" class="input-group-btn">
                    <button style="height: 100%;" type="button" class="btn btn-default btn-md" data-type="plus" data-field="quant[1]">
                      <span style="height: 100%;" class="glyphicon glyphicon-plus"></span>
                    </button>
                </span>
              </div> -->
              <div class="center" style="width: 80%;">
                <div class="input-group">
                      <span class="input-group-btn">
                          <button type="button" class="btn btn-danger btn-number"  data-type="minus" data-field="quant[2]">
                            <span class="glyphicon glyphicon-minus"></span>
                          </button>
                      </span>
                      <input type="text" name="quant[2]" class="form-control input-number" value="10" min="1" max="100">
                      <span class="input-group-btn">
                          <button type="button" class="btn btn-success btn-number" data-type="plus" data-field="quant[2]">
                              <span class="glyphicon glyphicon-plus"></span>
                          </button>
                      </span>
                  </div>
              <p></p>
            </div>
            </ion-col>
            <ion-col size="1">
              <h6>$749.00</h6>
            </ion-col>
            <ion-col size="1">

            </ion-col>
          </ion-row>

        </ion-card-content>
      </ion-card>
    </ion-row>
    <ion-row>
      <ion-col size-md="6" size-xs="12">
        <ion-row>
          <ion-col size-md="9" size-xs="7">
            <input style="width: 100%; height: 100%;" placeholder="Aplicar cupon">
          </ion-col>
          <ion-col size-md="3" size-xs="5">
            <ion-button color="primary">
              <ion-label>Aplicar Cupon</ion-label>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col *ngIf="plataforma == 'web'"  size="6">
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="plataforma == 'web'" size="7"></ion-col>
      <ion-col size-sm="12" size-md="5" size-lg="5">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-item lines="none">
                <h6 style="font-size: xx-large;">
                  Cart Totals
                </h6>
              </ion-item>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <h6 style="text-align: start;font-weight: bold;width: 100%;">Subtotal</h6>
                <h6 style="text-align: end; width: 100%;">$1,768.00</h6>
                <!-- <ion-row size="12" style="background-color: aqua; width: 100%;">
                  <ion-col size="8">
                    <h6 style="font-weight: bold;">Subtotal</h6>
                  </ion-col>
                  <ion-col size="4">
                    <h6 style="text-align: right;">
                      $1,768.00
                    </h6>
                  </ion-col>
                </ion-row> -->
              </ion-item>
              <ion-item lines="none">
                <h6 style="text-align: start;font-weight: bold;width: 100%;">Envio</h6>
                <h6 style="text-align: end; width: 100%;">$50.00</h6>
              </ion-item>
              <ion-item>
                <h6 style="text-align: start;font-weight: bold;width: 100%;">IVA</h6>
                <h6 style="text-align: end; width: 100%;">$100.00</h6>
              </ion-item>
              <ion-item lines="none">
                <h6 style="text-align: start;font-weight: bold;width: 100%;font-size: x-large;">Total</h6>
                <h6 style="text-align: end; width: 100%; font-size: x-large;">$1250.00</h6>
              </ion-item>
              <ion-item lines="none">
                <ion-button style="width: 100%;" expand="full" size="large">
                  <h6 style="font-size: medium; width: 90%; text-transform: capitalize;">
                    Proceder al checkout
                  </h6>
                </ion-button>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>


</ion-content>
