<ion-header>
  <ion-toolbar >
    <ion-title>clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="banner_slides" [style.backgroundImage]="'url(../../../assets/images/tienda.jpg)'">
  </div>


  <ion-grid fixed>
    <ion-row>
      <ion-col size="4" *ngFor="let item of clientes">
        <div class="main_frame" [routerLink]="['/products', item.id]">
          <div [style.backgroundImage]="'url(../../../assets/images/sinimagen.jpg)'" class="product_img"></div>
          <p class="header_title">{{item.NombreEmpresa}}</p>
          <!-- <p class="footer_title">{{item.descripcion}}</p> -->
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
