.banner_slides{
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
}
.every_text{
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
}
.main_frame{
    .product_img{
        height: 100px;
        width: 100%;
        padding: 5px;
        border: 1px solid lightgray;

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .header_title{
        font-size: 10px;
        font-weight: bold;
        color: black;
    }
    .footer_title{
        font-size: 8px;
        color: gray;
    }
}
